body {
    background-image: linear-gradient(black, yellow);
    background: repeating-linear-gradient(
  45deg,
  yellow,
  black 10px,
  yellow 10px
);
}

.navfolio {
    font-size: 30px;
}

.navcon {
    font-size: 30px;
}

.jamo {
    font-style: oblique;
    padding: 20px;
    background-image: linear-gradient(red, yellow);

}

.card-1 {
    size: 50px;
    
}

.card-image-1 {
    background-image: linear-gradient(red, yellow);
}

.card-2 {
    size: 50px;
}
.card-image-2 {
    background-image: linear-gradient(red, yellow);
}

.card-3 {
    size: 50px;
}
.card-image-3 {
    background-image: linear-gradient(red, yellow);
}

.profile {
    background-image: linear-gradient(red, yellow);
    text-align: justify;
    float: left;
    padding: 20px;
    margin: 20px;
}

img {
    padding: 10px;
}

.brand-logo {
    padding-left: 15px !important;
}
.text-1 {
    padding: 10px;
}
#customer-form {
    background-image: linear-gradient(red, yellow);
    padding: 20px;
    margin: 20px;

}
 #zach {
     color: black;
     font-weight: bold;
 }