body {
    background-color: yellow;
}

.navfolio {
    font-size: 30px;
}

.navcon {
    font-size: 30px;
}

.jamo {
    font-style: oblique;
    padding: 10px;
}

.card-1 {
    size: 100px;
}

.card-2 {
    size: 50px;
}

.card-3 {
    size: 50px;
}

.profile {
    text-align: justify;
    float: left;
}

img {
    padding: 10px;
}

.brand-logo {
    padding: 5px;
}